.*.swp
.deps/
.libs/
Makefile
Makefile.in
*.dSYM/
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cunit
*.o
depcomp
install-sh
libtool
*.la
*.lo
ltmain.sh
missing
stamp-h1
xbapi.pc
m4/
